.article-box {
    border: 1px solid rgba(191, 191, 191, 0.358);

    .img-box {

        margin-bottom: 20px;
        overflow: hidden;


        img {
            transition: 0.4s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .text {
        padding: 10px 15px;

        h6 {
            font-size: 20px;
        }

        .author {
            font-size: 12px;
            text-transform: uppercase;

            a {
                color: rgb(255, 153, 0);
            }
        }

        p {
            font-size: 14px;
            margin-top: 15px;
            color: gray;
        }

        a {
            color: black;
            text-decoration: none;
        }
    }

    .article-date{
        span{
            font-size: 13px;
            font-family: 500;
        }
    }

}